body {
    min-height: 100vh;
    background: linear-gradient(50deg, #073444,#157a6b, #4ec958);
}

body, form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

.logo {
    margin-top: -20vh;
    margin-bottom: 35px;
    display: block;
    width: 250px;
}

form {
    min-width: 200px;
    max-width: 250px;
    width: 80%;
}

input {
    margin-bottom: 16px;
    padding: 5px;
    box-sizing: border-box;
    width: 100%;
}

input[type='submit'] {    
    cursor: pointer;
}