main {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

form {
    display: inline-flex;
    flex-direction: column;
    box-shadow: 0 0 16px rgba(0, 0, 0, .5);
    margin-top: 16px;
    padding: 32px;
    max-width: 400px;
}

input {
    margin-bottom: 8px;
}