body {
    margin: 0;
    font-family: 'Roboto', 'Arial', sans-serif;
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: rgba(255,255,255,.8)
}

header {
    grid-template: 'header';
    padding: 40px 60px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 12px 5px rgba(0,0,0,.8);
    max-height: 170px;
}
.user-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-icon::before, 
.user-icon::after  {
    content: "";
    display: block;
    background: rgba(255, 255, 255, .9);
}

.user-icon::before {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-bottom: 2px
}

.user-icon::after {
    width: 12px;
    height: 8px;
    border-radius: 50% 50% 0 0;
}

.user-nav {
    position: relative;
}

.user-nav:hover nav {
    display: block;
}

.user-nav nav {
    display: none;
    position: absolute;
    top: 100%;
    right: 50%;
    transform: translateX(50%)
}

.user-nav ul {
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    padding: 0;
}

.user-nav li {
    padding: 0 15px 10px;
}

.user-nav li:first-child {
    padding-top: 10px;
}

.user-nav a {
    color: rgba(0,0,0, .7);
}


.user-nav a:hover {
    color: rgba(0,0,0, .9);
}

main {
    grid-template: 'main';
    padding: 60px;    
    color: rgba(0,0,0,.6);
    justify-self: center;
}

footer {
    grid-template: 'footer';
    max-height: 70px;
    box-sizing: border-box;
    align-self: end;
}

.main-title {
    grid-column: 1 / 3;
    margin: 0;
    font-weight: normal;
    font-size: 26px;
}

input[type="submit"], button {
    background: rgba(0,0,0,.05);
    border: 0;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

button:hover, input:hover[type="submit"] {
    background: rgba(0,0,0,.08);
}

.subtitle {
    font-weight: normal;
    border-bottom: 1px solid rgba(0,0,0,.2);    
    margin-top: 0;    
}

.subtitle h2 {
    font-weight: normal;
    padding: 38px 30px 32px 0;
    font-size: 20px;
}

.graphs-col, .status-col {
    /* box-shadow: 0 0 20px rgba(0,0,0,.4); */
    align-self: start;
    border-radius: 21px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-auto-rows: 450px;
    grid-gap: 24px;
}

.status-col {
    padding-bottom: 24px;
}

.graphs-col .subtitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hidden { display: none; }

.not-ok::after{ content: "NOT OK"; }
.ok::after{ content: "OK"; }

.status-container::before {
    content: "";
    display: block;
    width: 3px;
    height: 15px;
    margin-right: 5px;
}
.status-container.not-ok {
    background: linear-gradient(200deg, #781616,#9e1f1f, #c94e4e) no-repeat;
}
.status-container.ok {
    background: linear-gradient(200deg, #167855,#2ca42d, #4ec958) no-repeat;
}

.status-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    border-radius: 29px;
    box-shadow: 0 0 12px #000;
    width: 60%;
    height: 60%;
    place-self: center;
    color: rgba(255,255,255,.8);
    max-width: 300px;
}

.filter input {
    margin-right: 16px;
}

.filter-date {
    width: 120px;
}

.graph-img-container {
    display: flex;
    align-items: center;
    position: relative;
}

.graph-img-container.loading::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, .7);
    position: absolute;
    top: 0;
    left: 0;
}

.graph-img-container.loading::before {
    content: "";
    display: block;
    border: 8px solid rgba(255,255,255,.7);
    border-top-color: rgba(255,255,255,.4);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 1;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    animation: spin 1s infinite ease-in
}
    
@keyframes spin {
    from{ transform: rotate(0deg); }
    to{ transform: rotate(360deg); }
}

.graph-img {
    width: 100%;
    min-width: 950px;
}

header li {
    margin-bottom: 8px;
}

li a:hover {
    color: #fff;
}

ul {
    list-style-type: none;
}

.logo {
    width: 159px;
    transform: translateY(-8%);
}

footer, header {
    background: linear-gradient(200deg, #073444,#157a6b, #4ec958) no-repeat;   
}

footer {
    padding: 35px;
    text-align: center;
    box-shadow: 0 0 15px #000;
}