:root {
    --gutter: 60px;
}

main {
    display: flex;
    flex-direction: column;
}

form, .container-table {
    box-shadow: 0 0 16px rgba(0,0,0,.5);
    padding: var(--gutter);
}

.container-table  {    
    margin-bottom: var(--gutter);
}

h3 {
    margin-top: 0;
    font-weight: normal;
    font-size: 20px;
    margin-bottom: calc(var(--gutter) / 2);
}

input {    
    margin-bottom: calc(var(--gutter) / 3);
    padding: 5px;
    box-sizing: border-box;
}

input, table {
    width: 100%;
}


table {
    text-align: left;
    border-collapse: collapse;
    color: rgba(0,0,0,.6);
}

td, th {
    border-bottom: 1px solid rgba(0,0,0,.2);
    padding: 10px;
}

th {
    font-weight: normal;
    text-transform: capitalize;
    padding-top: 0;
}

tbody tr:hover {
    background: rgba(0,0,0,.05);
}

@media (min-width: 968px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: var(--gutter);
    }

    .container-table  {
        margin-bottom: 0;
    }
}